* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To Box Model */
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.button__primary {
    background-image: linear-gradient(
         to right,
         #ff512f 0%,
         #dd2476 51%,
         #ff512f 100%
        );

    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.nav__item {
    background-image: linear-gradient(
         to right,
         #ff512f 0%,
         #dd2476 51%,
         #ff512f 100%
        );

    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.nav__item:hover {
    border: 2px solid blue;
}

section{
    margin: 20px 0px;
}
.container{
    max-width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
}

.hero__container {
    width: 100%;
    padding: 0px 20px;
}

.hero__image__container {
    position: relative;
    width: 100%;
}

.hero__text {
    font-size: 30px;
    margin: 20px 0px;
}

.hero__image {
    position: absolute;
    width: 100%;
    border-radius: 8px;
    right: auto;
    left: auto;
    z-index: 2;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__image__shape {
    position: absolute;
    right: 2;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 2px 30px;
    } 
    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero__image {
        margin-top: 2rem;
    }
}

@media (min-width: 1020px) {
    .container{
        max-width: 1000px;
    }
    .navbar__brand {
        width: 125px;
    }
    .button__primary {
        padding: 15px;
        font-size: 20px;
    }
    .hero__description {
        width: 100%;
    }
    .hero__text {
        font-size: 40px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1250px;
    }
    .button__primary {
        padding: 20px;
        font-size: 20px;
    }
    .hero__text {
        font-size: 50px;
    }
}